@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #007a33;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
